<nav class="navbar">

  <div class="navbar-left">
    <span class="navbar-title">Compare Excel</span>
  </div>

    <div class="navbar-center">
    <div class="file-group">
       <button class="view-button" (click)="viewFile1()">View File 1</button>
      <input class="file" type="file" (change)="onFiles1Selected($event)" />
    </div>

    <div class="file-group">
      <button class="view-button" (click)="viewFile2()" >View File 2</button>
      <input class="file" type="file" (change)="onFiles2Selected($event)" />

      <button class="import-online-button" (click)="applyy()">Compare</button>
       <button class="import-online-button" (click)="openImportOnline()">Import Online</button>
       <button class="import-online-button" (click)="downloadComparison()">Download</button>

    </div>
  </div>



</nav>





<div class="modal-overlay" *ngIf="showOnlineModal">
  <div class="modal-content">
    <p>Import Online</p>

<div class="form-row">
  <div class="form-group">
    <label>Start Date</label>
    <input type="date" [(ngModel)]="startDate" />
  </div>

  <div class="form-group">
    <label>End Date</label>
    <input type="date" [(ngModel)]="endDate" />
  </div>
</div>


    <div class="modal-actions">
      <button class="clear-button" (click)="closeOnline()">Cancel</button>
      <button class="apply-button" (click)="download()">Download</button>
    </div>
  </div>
</div>


<div class="table-container" *ngIf="showData === 'compare' && comparisonResult.length > 0">
  <table class="company-table">
    <thead>
      <tr>
        <th *ngFor="let header of comparisonHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of comparisonResult">
        <td *ngFor="let header of comparisonHeaders">{{ row[header] }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- File 1 Data Table -->
<div class="table-container" *ngIf="showData === 'file1' && file1Data.length > 0">
  <table  class="company-table">
    <tr *ngFor="let row of file1Data">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </table>
</div>

<!-- File 2 Data Table -->
<div class="table-container" *ngIf="showData === 'file2' && file2Data.length > 0">
 
  <table  class="company-table">
    <tr *ngFor="let row of file2Data">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </table>
</div>
