<nav class="navbar">

  <div class="navbar-left">
    <span class="navbar-title">Excel Scan Creator</span>
  </div>

  <span class="file-name" *ngIf="uploadedFileName">
     FileName : {{ uploadedFileName }}
  </span>

  <div class="navbar-right">
    <button class="qr-button" (click)="generateQRCodes()">Generate QR Codes</button>
    <div class="tooltip-container" (click)="reloadPage()">
      <button class="icon-button"><img src="assets/refresh.png" alt="Refresh"></button>
      <span class="tooltip-text">Refresh</span>
    </div>

    <div class="tooltip-container" (click)="openExcelPopup()">
      <button class="icon-button"><img src="assets/upload.png" alt="Download"></button>
      <span class="tooltip-text">Upload File</span>
    </div>

  </div>
</nav>





<!-- Upload Modal -->
<div class="modal-overlay" *ngIf="showUploadModal">
  <div class="modal-content">
    <p>Import File</p>

    <div class="pdf-box">

      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <div class="modal-actions">

      <button class="clear-button" (click)="clear()">Cancel</button>
      <button class="apply-button" (click)="apply()">Upload</button>
    </div>
  </div>
</div>



<div class="table-container" *ngIf="excelData.length > 0">

  <table class="company-table">
    <thead>
      <tr>
        <th>
          <input type="checkbox" (change)="toggleAllCheckboxes($event)" />
        </th>
        <th *ngFor="let header of excelData[0]">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of excelData.slice(1); let i = index">
        <td>
          <input type="checkbox" [(ngModel)]="selectedRows[i]" />
        </td>
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal-overlay" *ngIf="showQRModal">
  <div class="modal-content large">
    <p>Generated QR Codes</p>

    <div class="qr-code-container">


      <div *ngFor="let item of qrCodes" class="qr-item">
        <qrcode [qrdata]="item.materialCode" [errorCorrectionLevel]="'M'"></qrcode>
        <p><strong>materialCode:</strong> {{ item.materialCode }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
      </div>



    </div>

    <div class="modal-actions">
      <button class="clear-button" (click)="showQRModal = false">Cancel</button>
      <button class="apply-button" (click)="printLabels()">Print</button>

    </div>
  </div>
</div>




<!-- <div id="print-area" style="display: none">
  <div *ngFor="let item of qrCodes" class="print-label">
    <qrcode [qrdata]="item.materialCode" [width]="100" [errorCorrectionLevel]="'M'" elementType="img">
    </qrcode>
    <p><strong>{{ item.materialCode }}</strong></p>
    <p>{{ item.description }}</p>
  </div>
</div> -->


<div id="print-area" style="display: none">
  <div *ngFor="let item of qrCodes" class="print-label">
    <qrcode [qrdata]="item.materialCode" [width]="100" [errorCorrectionLevel]="'M'" elementType="img"></qrcode>
    <div class="text-content">
      <p class="code"><strong>{{ getSafeMaterialCode(item.materialCode) }}</strong></p>
      <p class="desc">{{ item.description }}</p>
    </div>
  </div>
</div>


  <div class="delete-modal" *ngIf="isOpenUploadExcel">
    <div class="delete-modal-content">
      <p>Please ensure that the following fields are provided in Excel: MaterialCode, MaterialDescription, and Quantity.</p>
      <div class="delete-modal-buttons">

        <button class="delete-no-btn" (click)="closeExcelPopup()">Cancel</button>
        <button class="delete-yes-btn" (click)="open()">Upload</button>
      </div>
    </div>
  </div>